@import "reset.css";

body {
  background-color: #0c154a;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 1s linear;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.js-clock {
  color: white;
}

.js-title {
  font-size: 200px;
  padding-bottom: 20px;
}

input::placeholder {
  color: white;
  font-size: 20px;
  text-align: center;
}

.greetings {
  color: white;
  font-size: 35px;
  padding-bottom: 20px;
}

.todostyle,
.js-input {
  font-size: 20px;
  padding: 10px;
  border: none;
  background: transparent;
  border-bottom: white 1px solid;
  outline: none;
  text-align: center;
}

.js-toDoList {
  padding: 10px;
  color: white;
  font-size: 20px;
  /* display: flex; */
  /* justify-content: center; */
}

.js-weather {
  padding: 10px;
  color: white;
  font-size: 20px;
}
